{% if user.is_authenticated %}
<div class="navmenu">
    <table><tbody>
        <tr><td>Welcome, {{ user.username }}</td>
            <td class="logout"><a href="{% url 'auth_logout' %}?next=/">Logout</a></td>
        </tr></tbody>
    </table>
    <table class="menu"><tbody>
        <tr><td><a href="/notifications">View</a></td>
            <td><a href="/publish">Publish</a></td>
            <td><a href="/subscribe">Subscriptions</a></td>
        </tr></tbody>
    </table>
</div>
<hr/>
{% else %}
<div class="welcome">
    <h1>Welcome to HISS</h1>
    <p><a class="button-white" href="/accounts/login">Sign in</a></p>
    <p><a class="button-green" href="/signup">Sign up</a></p>
</div>
{% endif %}
