{% if user.is_authenticated %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/notifications"> View </a></li>
      <li><a href="/publish"> Publish </a></li> 
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subscriptions<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/subscribe/add">Add</a></li>
          <li><a href="/subscribe/remove">Remove</a></li>
          <li><a href="/subscribe">Manage</a></li>
        </ul>
      </li>
    </ul>
    <a href="{% url 'auth_logout' %}?next=/" class="btn btn-success navbar-btn button-green">Sign out</a>
  </div>
</nav>
<hr/>
{% else %}
<div class="container">
    <div class="welcome">
      <h1>Discover images with #HashTags</h1>
      <p><a class="button-white btn-xxlg" href="/accounts/login">Sign in</a></p>
      <p><a class="button-green btn-xxlg" href="/signup">Sign up</a></p>
    </div>
</div>
{% endif %}
