{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "navbar.html" %}
<script>
    $(function () {
        function addImage(data) {
            $("<div class='col-lg-3 col-md-4 col-xs-6'> \
                    <div class='thumbnail'> \
                        <a href='" + data.url + "'> \
                            <img src='" + data.url + "' class='img-responsive'> \
                        </a> \
                        <div> \
                            <p class='text-muted text-right small'>" + data.published_date + "</p> \
                        </div> \
                        <div class='caption'> \
                            <p>" + data.hashtags + "</p> \
                        </div> \
                    </div> \
                </div>").appendTo("#notifications"
            );
        }

         // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('a0e7e26bf61d7b3849c4', {
            encrypted: true
        });

        var channel = pusher.subscribe('{{ user.username }}');
        channel.bind('new_image', function (data) {
            addImage(data);
        });
    });
</script>


<div class="content">
    <h1> View your Notifications </h1>
    <!-- Container -->
    <div class="container">
        <div class="row" id="notifications">
            <!--{% for object in my_list %}
                <div class="thumbnail">
                    <a href = "{{ object[1] }}">
                        <img src= "{{ object[1]}}" class="img-responsive">
                    </a>
                    <div>
                        <p class="text-muted text-right small"> "{{ object[1] }}" </p>
                    </div>
                    <div>
                        <p class="text-muted text-right small"> "{{ object[1] }}" </p>
                    </div>
                    <div class="caption">
                        <p> "{{ object[1] }}" </p>
                    </div>
                </div>
            {% endfor %}!>
        <!-- Past -->
        {% for image in current_images %}
        <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="thumbnail">
                <a href = "{{ image.url }}">
                    <img src= "{{ image.url }}" class="img-responsive">
                </a>
                <div>
                    <p class="text-muted text-right small"> "{{ image.published_date }}" </p>
                </div>
                <div class="caption">
                    <p> "{{ image.hashtags }}" </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Placeholder -->
        </div>
    </div>
</div>
{% endblock %}
