{% extends "base.html" %}
{% load staticfiles %}
{% load cloudinary %}

{% block head %}
{% cloudinary_includes %}
{% cloudinary_js_config %}

<script>

    $(function () {
        var tagsField = $('#direct_upload input[type="text"]');

        $('#progress').hide();
        $('#publishbutton').prop('disabled', true);
        $('.imagefield').hide();
        tagsField.keyup(function() {
            $('#publishbutton').prop('disabled', !/^((\s*)(#[a-z\d-]{1,30})(,?)(\s*))+$/.test(tagsField.val()));
        });
        $('.imageinputparent').children().addClass("btn button-white");
        $('#publishbutton').click(function(event) {
            $('#publishbutton').text('Select an image');
            $('#publishbutton').prop('disabled', true);
            tagsField.prop('readonly', true);
            $('.imagefield').show();
            event.preventDefault();
        });
        $('#direct_upload input[type="file"]')
            .cloudinary_fileupload({
                dropZone: '#direct_upload',
                start: function () {
                    $('#progress').show();
                    $('#progressbar').text('Starting direct upload...').css('width', '25%');
                },
                progress: function () {
                    $('#progressbar').text('Uploading...').css('width', '50%');
                }
            })
            .on('cloudinarydone', function (e, data) {
                $('#progressbar').text('Updating backend...').css('width', '75%');
                $.post(this.form.action, $(this.form).serialize()).always(function (result, status, jqxhr) {
                    $('#progressbar').text(result.errors ? JSON.stringify(result.errors) : status).css('width', '100%');
                    $('#publishbutton').text('Continue').unbind('click').prop('disabled', false);
                });
            });
    });
</script>
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div id='direct_upload' class="content">
    <h1> Publish your Image </h1>

    <div>
        <form action="{% url 'hashapp.views.publish_result' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="form-group table">
                <tbody>
                <tr>
                    <td><p>{{ image_form.tags.label_tag }}</p></td>
                    <td><p id="tagsfieldparent" class="inputparent">{{ image_form.tags }}</p></td>
                </tr>
                {% if image_form.tags.help_text and image_form.tags.help_text.strip %}
                <tr>
                    <td colspan="2">{{ image_form.tags.help_text }}</td>
                </tr>
                {% endif %}
                {% if image_form.tags.errors.as_text and image_form.tags.errors.as_text.strip %}
                <tr>
                    <td colspan="2">{{ image_form.tags.errors.as_text }}</td>
                </tr>
                {% endif %}
                <tr class="imagefield">
                    <td><p>{{ image_form.image.label_tag }}</p></td>
                    <td><p class="imageinputparent">{{ image_form.image }}</p></td>
                </tr>
                {% if image_form.image.help_text and image_form.image.help_text.strip %}
                <tr class="imagefield">
                    <td colspan="2">{{ image_form.image.help_text }}</td>
                </tr>
                {% endif %}
                {% if image_form.image.errors.as_text and image_form.image.errors.as_text.strip %}
                <tr class="imagefield">
                    <td colspan="2">{{ image_form.image.errors.as_text }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <div id="progress" class="progress">
                <div id="progressbar" class="progress-bar progress-bar-striped active" role="progressbar">
                </div>
            </div>
            <p id="publish" class="text-center">
                <button id="publishbutton" type="submit" class="btn button-green btn-xlg">Next</button>
            </p>
        </form>
    </div>
{% endblock %}
