{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<script>
    $(function () {
        var tagsToSubscribe = $('#newsubscription input[type="text"]');
        var tagsToUnsubscribe = $('#removesubscription input[type="hidden"]');

        $('#subscribebutton').prop('disabled', true);
        tagsToSubscribe.keyup(function() {
            $('#subscribebutton').prop('disabled', !/^((\s*)(#[a-z\d-]{1,30})(,?)(\s*))+$/.test(tagsToSubscribe.val()));
        });
    });
</script>
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
    <h1>Manage your Subscriptions</h1>
    <div>
        <h2>Add subscriptions</h2>
        <form id='newsubscription' action="{% url 'hashapp.views.add_subscription' %}" method="post">
            {% csrf_token %}
            <table class="form-group table">
                <tbody>
                <tr>
                    <td><p>{{ subscription_form.tags.label_tag }}</p></td>
                    <td><p id="tagsfieldparent" class="inputparent">{{ subscription_form.tags }}</p></td>
                </tr>
                </tbody>
            </table>
            <p id="publish" class="text-center">
                <button id="subscribebutton" type="submit" class="btn button-green btn-xlg">Subscribe</button>
            </p>
        </form>
    </div>
    <div>
        <h2>Remove subscriptions</h2>
        <form id='removesubscription' action="{% url 'hashapp.views.remove_subscription' %}" method="post">
            {% csrf_token %}
             <table class="form-group table">
                <tbody>
                <tr>
                    <td>
                        {% if current_subscription %}
                            {% for subscription in current_subscription %}
                            <p class="btn button-white btn-md">
                                {{ subscription }}
                                <span class="divider-vertical"></span>
                                <button class="transparent-button unsubscribebutton"
                                        type="submit" name="tags" value="{{ subscription }}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </p>
                            {% endfor %}
                        {% else %}
                            <h3 class="text-center">You are subscribed to nothing</h3>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<input name="tags" type="hidden" value=""/>-->
        </form>
    </div>

</div>
{% endblock %}