{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<script>

    $(function () {
        var tagsField = $('#newsubscription input[type="text"]');

        $('#subscribebutton').prop('disabled', true);
        tagsField.keyup(function() {
            $('#subscribebutton').prop('disabled', !/^((\s*)(#[a-z\d-]{1,30})(,?)(\s*))+$/.test(tagsField.val()));
        });
    });
</script>
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div id='newsubscription' class="content">
	<h1> Manage your Subscriptions </h1>
	<div>
		<form id="the_form" action="{% url 'hashapp.views.subscription_result' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table class="form-group table">
				<tbody>
				<tr>
					<td><p>{{ subscription_form.tags.label_tag }}</p></td>
					<td><p id="tagsfieldparent" class="inputparent">{{ subscription_form.tags }}</p></td>
				</tr>
				</tbody>
			</table>
			<p id="publish" class="text-center">
				<button id="subscribebutton" type="submit" class="btn button-green btn-xlg">Subscribe</button>
			</p>
		</form>
	</div>
</div>
{% endblock %}
