{% extends "base.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page.
        To proceed,please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="content login">
<form method="post" action="{% url 'login' %}">

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% csrf_token %}
  <div class="form-group">
    <label>{{ form.username.label_tag }}</label> {{ form.username }}
  </div>
  <div class="form-group">
    <label>{{ form.password.label_tag }}</label> {{ form.password }}
  </div>
  <button type="submit" class="btn button-white btn-xlg">Sign in</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class="login"><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>

{% endblock %}
